.logo{
  height: 31px;
  color: rgb(24, 144, 255);
  font-size: 20px;
  font-weight: bold;
  float: left;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
.trigger:hover {
  color: #1890ff;
}
.ant-layout-header{
  background-color: #fff;
  box-shadow: 0 5px 11px 0 rgba(50,50,50,.08);
}
.x-content{
  margin-left: 200px;
  transition: all .2s;
}
.x-content.collapsed{
  margin-left: 80px;
}
.ant-card-body .ant-form-horizontal{
  max-width: 600px;
}